{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    {{ product.name }} / {{ product.category.name }} / Mikotek.RU
{% endblock %}

{% block meta_description %}{{ product.fullName }}, {{ product.announce }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Главная</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('category_show', {'slug': category.slug}) }}"><i class="fa fa-table"></i> {{ category.name }}</a></li>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-search"></i> {{ product.name }}
        </li>
    </ol>


    <h1 class="page-header">{{ product.fullName }}</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <a data-fancybox="gallery" target="_blank" href="{{ '/uploads/pics/' ~ product.pic }}"><img
                                src="{{ asset('/uploads/pics/' ~ product.pic) | imagine_filter('thumb_square_210') }}"/></a>
                </div>

                <div class="card-footer d-flex justify-content-between lh-condensed">

                    <div class="h4">
                        <span class="">{{ product.price }}₽</span>
                        <div class="small">Опт: {{ product.priceOpt }}₽</div>
                    </div>

                    <div>
                        {% if product.isAvailableToOrder %}
                            <a href="{{ path('buy_in_one_click', {'id': product.id}) }}" class="btn btn-success"><i
                                    class="fa fa-cart-plus"></i> купить</a>
{#                            {{ product.status }}#}
                        {% else %}
                            <span class="badge badge-{{ product.statusAsCssClass }}">{{ product.statusRus }}</span>
                        {% endif %}
                    </div>


                </div>
            </div>
        </div>

        <div class="col-8">
            <ul class="list-group ">
                <li class="list-group-item"><b>Наличие:</b> <span class="badge badge-{{ product.statusAsCssClass }}">{{ product.statusRus }}</span></li>
                <li class="list-group-item"><b>Производитель:</b> {{ product.vendor.name }}</li>
                <li class="list-group-item"><b>Самовывоз в Москве:</b> 183р. пункты выдачи СДЭК</li>
                <li class="list-group-item"><b>Доставка по Москве:</b> 360р. компанией СДЭК</li>
                <li class="list-group-item"><b>Доставка в регионы:</b> по тарифам компании СДЭК</li>
                <li class="list-group-item alert alert-info">
                    <b>Гарантия:</b> {{ product.warranty }}
                </li>
            </ul>


        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <h3>Описание</h3>
            {{ product.description | raw }}
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-8">
            <a class="btn btn-secondary" href="{{ path('category_show', {'slug': category.slug}) }}"><i
                    class="fa fa-arrow-circle-left"></i> к списку {{ category.name|lower }}</a>

        </div>
    </div>

{% endblock %}
