
    {{ form_start(form, {'action': path('feedback_create'), 'method': 'POST'}) }}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'ФИО'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Телефон'}}) }}
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Сообщение'}}) }}
                {#<textarea name="feedback[message]" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>#}
            </div>
            <div class="form-group">
                {#<div class="g-recaptcha" data-sitekey="6LekOV0UAAAAAIByCFQg1af8z5SIwGMn9-KYsvu9"></div>#}
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


