{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    Feedback / Mikotek.RU
{% endblock %}
{% block meta_description %}Обратная связь{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> New feedback
        </li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'themes/digi/common/flashes.html.twig' %}

    <h4>Feedback</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="g-recaptcha" data-sitekey="6LekOV0UAAAAAIByCFQg1af8z5SIwGMn9-KYsvu9"></div>
    <hr />
    <button name="send" type="submit" class="btn btn-success">Submit request</button>
    {{ form_end(form) }}

{% endblock %}
