{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
        {{ form_rest(form) }}

        {#<h3>Order items</h3>#}
        <table class="table table-striped">
            {% for item in form.items %}
                <tr>
                    <td>{{ form_row(item.product) }}</td>
                    <td>{{ form_row(item.qty) }}</td>
                    <td>{{ form_row(item.price) }}</td>
                </tr>
            {% endfor %}
        </table>


    <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-list"></i> Back to the list</a>
        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
    {{ form_end(form) }}

    <div class="text-right">
        {{ form_start(delete_form) }}
        <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
