{% extends 'layout_admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">26 New Messages!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">11 New Tasks!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">123 New Orders!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-support"></i>
                    </div>
                    <div class="mr-5">13 New Tickets!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>

{#        <div class="container">#}
{#            <div class="row">#}
{#                <form>#}
{#                    <div class="form-group">#}
{#                        <label>Example of select</label>#}
{#                        <select class="my-select2" data-placeholder="Choose one thing" data-allow-clear="1">#}
{#                            <option></option>#}
{#                            <option>1</option>#}
{#                            <option>2</option>#}
{#                            <option>3</option>#}
{#                            <option>4</option>#}
{#                            <option>5</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

{#        <script type="text/javascript">#}
{#            $(document).ready(function() {#}
{#                $('.my-select2').each(function () {#}
{#                    $(this).select2({#}
{#                        theme: 'bootstrap4',#}
{#                        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',#}
{#                        placeholder: $(this).data('placeholder'),#}
{#                        allowClear: Boolean($(this).data('allow-clear')),#}
{#                        closeOnSelect: !$(this).attr('multiple'),#}
{#                    });#}
{#                });#}
{#            });#}
{#        </script>#}


{% endblock %}