<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_product_index') }}">
            <i class="fa fa-fw fa-product-hunt"></i>
            <span class="nav-link-text">Products</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_vendor_index') }}">
            <i class="fa fa-fw fa-address-book-o"></i>
            <span class="nav-link-text">Vendors</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_category_index') }}">
            <i class="fa fa-fw fa-list-ul"></i>
            <span class="nav-link-text">Categories</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_page_index') }}">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Pages</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_banner_index') }}">
            <i class="fa fa-fw fa-bandcamp"></i>
            <span class="nav-link-text">Banners</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_user_index') }}">
            <i class="fa fa-fw fa-user-plus"></i>
            <span class="nav-link-text">Users</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('backend_faq_index') }}">
            <i class="fa fa-fw fa-comment"></i>
            <span class="nav-link-text">FAQ</span>
        </a>
    </li>

{#    {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#        <li class="nav-item" data-toggle="tooltip" data-placement="right">#}
{#            <a class="nav-link" href="{{ path('backend_admin_index') }}">#}
{#                <i class="fa fa-fw fa-star"></i>#}
{#                <span class="nav-link-text">Admins/Editors</span>#}
{#            </a>#}
{#        </li>#}
{#    {% endif %}#}

</ul>
