<a class="navbar-brand" href="#"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_payment') }}">Оплата</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_delivery') }}">Доставка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_warranty') }}">Гарантия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_contacts') }}">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('subscription_new') }}">Рассылка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('pricelist') }}">Прайслист</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('page_view_dealers') }}">Оптовикам</a>
        </li>

        {#<li class="nav-item">#}
            {#<a class="nav-link" href="{{ path('page_view', {'slug': 'about-us'}) }}">Рассылка</a>#}
        {#</li>#}
        {#<li class="nav-item">#}
            {#<a class="nav-link" href="{{ path('page_view', {'slug': 'about-us'}) }}">Прайслист</a>#}
        {#</li>#}

        {#<li class="nav-item dropdown">#}
            {#<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
            {#<div class="dropdown-menu" aria-labelledby="dropdown09">#}
                {#<a class="dropdown-item" href="#">Catalog</a>#}
                {#<a class="dropdown-item" href="#">Payments</a>#}
                {#<a class="dropdown-item" href="#">Delivery</a>#}
                {#<a class="dropdown-item" href="#">Warranty</a>#}
                {#<a class="dropdown-item" href="#">Something else here</a>#}
            {#</div>#}
        {#</li>#}
    </ul>
    <form class="form-inline my-2 my-md-0">
        <input class="form-control" placeholder="Search" aria-label="Search" type="text">
        <button type="submit" class="btn btn-secondary"><i class="fa fa-fw fa-search"></i> </button>
    </form>
</div>