<div>
    {% for tree_item in tree_arr %}
        <a href="{{ tree_item.href }}" class="list-group-item active">{{ tree_item.name }}</a>

        {% if tree_item.children %}
        <ul class="list-group mb-3">
            {% for tree_item2 in tree_item.children %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <a href="{{ tree_item2.href }}">{{ tree_item2.name }}</a>
                    </div>
                    <div>
                        <span class="badge badge-secondary badge-pill">{{ tree_item2.products_cnt }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</div>
