{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    {{ page.name }}
{% endblock %}

{% block meta_description %}{{ page.announce }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> {{ page.name }}
        </li>
    </ol>
{% endblock %}

{% block body %}

    <h1>{{ page.name }}</h1>
    {{ page.content|raw }}

    <h3>Поиск ближайшего пункта выдачи</h3>
    <div id="forpvz" style="height:500px;"></div>

    <div id="linkForWidjet" style="display: none;">
        <p>Выбран пункт выдачи заказов: <input type='text' name='chosenPost' value=''/></p>
        <p>Адрес пункта: <input type='text' name='addresPost' value=''/></p>
        <p>Стоимость доставки: <input type='text' name='pricePost' value=''/></p>
        <p>Примерные сроки доставки: <input type='text' name='timePost' value=''/></p>
    </div>

{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" id="ISDEKscript" src="https://www.cdek.ru/website/edostavka/template/js/widjet.js"></script>

    <script type="text/javascript">
        var widjet = new ISDEKWidjet({
            country: 'Россия',
            // defaultCity: 'Москва',
            cityFrom: 'Москва',
            link: 'forpvz',
            path: 'https://www.cdek.ru/website/edostavka/template/scripts/',
            servicepath: '{{ server_name }}/widget/scripts/service.php',
            hidedress: true,
            // goods: [ // установим данные о товарах из корзины
            //     { length : 10, width : 20, height : 20, weight : 5 }
            // ],
            onReady : function(){ // на загрузку виджета отобразим информацию о доставке до ПВЗ
                // ipjq('#linkForWidjet').css('display','inline');
            },
            onChoose : function(info){ // при выборе ПВЗ: запишем номер ПВЗ в текстовое поле и доп. информацию
                // ipjq('[name="chosenPost"]').val(info.id);
                // ipjq('[name="addresPost"]').val(info.PVZ.Address);
                // расчет стоимости доставки
                var price = info.price; //(info.price < 300) ? 300 : Math.ceil( info.price/100 ) * 100;
                // ipjq('[name="pricePost"]').val(price);
                // ipjq('[name="timePost"]').val(info.term);
                orderWidjet.close(); // закроем виджет
            },

            onChooseProfile: onChooseProfile
        });

        function onChooseProfile(wat) {
            // alert('Выбрана доставка курьером в город ' + wat.cityName + "\n" +
            //     'цена ' + wat.price + "\n" +
            //     'срок ' + wat.term + ' дн.'
            // );
            console.log('Выбрана доставка курьером ', wat);
        }
        widjet.binders.add(choosePVZ, 'onChoose');

        function choosePVZ(wat) {
            alert('Доставка в город ' + wat.cityName +
                "\nдо ПВЗ с кодом: " + wat.id + ', цена '+wat.price +' руб.'
            );
            console.log('Выбран ПВЗ ', wat);
        }
    </script>
{% endblock %}
