{% extends 'themes/digi/layout.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}

{% block meta_description %}{{ page.announce }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> {{ page.name }}
        </li>
    </ol>
{% endblock %}

{% block body %}

    <h1>{{ page.name }}</h1>
    {{ page.content|raw }}

{% endblock %}
