<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mikotek.RU{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/tuning.css') }}">
        <link rel="stylesheet" href="{{ asset('css/notify-flat.css') }}">
        {#<link rel="stylesheet" href="{{ asset('css/cover.css') }}">#}
    {% endblock %}
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
</head>
<body>

<div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 ">
            <a id="logo_img" href="{{ path('homepage') }}"><img src="{{ asset('img/mikotek-logo.png') }}" /></a>
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"></a>
        </div>
        <div class="col-4 text-right p-4">
{#            <a class="" href="tel:+74959794424"><i class="fa fa-phone"></i> +7 495 979 4424</a><br/>#}
            <a class="" href="tel:+7 999 917 1484"><i class="fa fa-phone"></i> +7 999 917 1484</a><br/>
{#            <a class="" href="tel:+79999171484">+7 999 917 1484</a>#}
            <div class="p-2">
                {{ render(controller('App\\Controller\\Frontend\\CartController::showCartDropDown')) }}
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
        {% include('themes/digi/common/top_menu.html.twig') %}
    </nav>

    <div class="row">
        <div class="col-3">
            {{ render(controller('App\\Controller\\Frontend\\CategoryController::categoriesTreeMenu')) }}

            {% include('themes/digi/common/categories.html.twig') %}
        </div>

        <div class="col-9">
            {% block promo %}
            {% endblock %}

            {% block breadcrumbs %}
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>
    </div>

</div>

<div class="col-md-12 footer-box" style="margin-top: 20px">
    {% include('themes/digi/common/footer.html.twig') %}
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49045286 = new Ya.Metrika({ id:49045286, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49045286" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Traffic tracking code -->
<script type="text/javascript">
    (function(w, p) {
        var a, s;
        (w[p] = w[p] || []).push({
            counter_id: 520312121
        });
        a = document.createElement('script'); a.type = 'text/javascript'; a.async = true;
        a.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'autocontext.begun.ru/analytics.js';
        s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s);
    })(window, 'begun_analytics_params');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121129331-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121129331-1');
</script>

{% block begun %}
{% endblock %}

{% block map %}
{% endblock %}

{% block extrascripts %}
{% endblock %}
</body>
</html>

