{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(form.category) }}
                {{ form_row(form.vendor) }}
                {{ form_row(form.vendorCode) }}
                {{ form_row(form.vendorModel) }}
                {{ form_row(form.sku) }}
                {{ form_row(form.name) }}
                {{ form_row(form.fullName) }}
                {{ form_row(form.price) }}
                {{ form_row(form.priceOpt) }}
            </div>
            <div class="col-6">
                {{ form_row(form.countryOfOrigin) }}
                {{ form_row(form.warranty) }}
                {{ form_row(form.stockQty) }}
                {{ form_widget(form.isActive) }}
                {{ form_widget(form.showOnTop) }}
                {{ form_widget(form.showOnMarket) }}
                {{ form_widget(form.showOnPriceRu) }}
                {{ form_widget(form.status) }}
            </div>
        </div>

        {{ form_row(form.announce, {'rows': 6}) }}
        {{ form_row(form.description) }}

        <div class="form-group row">
            {{ form_label(form.picFile) }}
            <div class="col-sm-10">
                {{ form_widget(form.picFile) }}
                {% if row.pic %}
                    <a data-fancybox="gallery" target="_blank" href="{{ asset('uploads/pics/' ~ row.pic) }}"><img
                                src="{{ asset('uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_50') }}" /></a>
                {% endif %}

            </div>
        </div>
        {{ form_rest(form) }}
        <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-list"></i> Back to the list</a>
        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>

    {{ form_end(form) }}

    <div class="text-right">
        {{ form_start(delete_form) }}
        <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
        {{ form_end(delete_form) }}
    </div>

    <script>

        $( document ).ready(function() {
            var $collectionHolder;

            // setup an "add a tag" link
            var $addTagButton = $('<button type="button" class="add_tag_link">Add a pic</button>');
            var $newLinkLi = $('<li></li>').append($addTagButton);

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
