{% extends 'layout_admin.html.twig' %}

{% block title %}
    Pricelist :: admin
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('backend_dashboard') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> Pricelist
        </li>
    </ol>
{% endblock %}

{% block body %}

    <h1 class="page-header">Edit Pricelist (<a href="{{ path('backend_product_index') }}">back to products list</a>)</h1>

    {% include 'admin/flashes.html.twig' %}


    <form action="{{ path('backend_products_update') }}" method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Маркет</th>
            <th>ОптНДС</th>
            <th>Опт-6%</th>
            <th>ВхДолл</th>
            <th>StockQty</th>
            <th>Act?</th>
            <th>Top?</th>
            <th>Ya?</th>
            <th>Pr?</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td colspan="11">
                    <h4>{{ category.name }}</h4>
                </td>
            </tr>
            {% for row in category.products %}
                {% if row.isActive %}
                <tr>
                    <td><a href="{{ path('backend_' ~ model ~ '_edit', { 'id': row.id }) }}">{{ row.name }}</a></td>
                    <td><input class="input-group-sm" size="5" name="product[{{ row.id }}][price]" value="{{ row.price }}" /></td>
                    <td><input class="input-group-sm" size="5" name="product[{{ row.id }}][price_opt]" value="{{ row.priceOpt }}" /></td>
                    <td><input class="input-group-sm" size="5" name="product[{{ row.id }}][price_nal]" value="{{ row.priceNal }}" /></td>
                    <td><input class="input-group-sm" size="5" name="product[{{ row.id }}][price_usd]" value="{{ row.priceUSD }}" /></td>
                    <td><input class="input-group-sm" size="3" name="product[{{ row.id }}][stockQty]" value="{{ row.stockQty }}" /></td>
                    <td><a href="javascript:;" class="toggle_field" id="isactive_{{ row.id }}" rel="{{ row.id }}" field="isActive">
                    <span class="badge badge-pill badge-{{ row.isActive ? 'success' : 'danger' }}"><i
                                class="fa fa-{{ row.isActive ? 'check-square' : 'window-close' }}"></i></span></a>
                    </td>

                    <td><a href="javascript:;" class="toggle_field" id="showontop_{{ row.id }}" rel="{{ row.id }}" field="isShowOnTop">
                    <span class="badge badge-pill badge-{{ row.isShowOnTop ? 'success' : 'danger' }}"><i
                                class="fa fa-{{ row.isShowOnTop ? 'check-square' : 'window-close' }}"></i></span></a>
                    </td>

                    <td><a href="javascript:;" class="toggle_field" id="yandex_{{ row.id }}" rel="{{ row.id }}" field="showOnMarket">
                    <span class="badge badge-pill badge-{{ row.showOnMarket ? 'success' : 'danger' }}"><i
                                class="fa fa-{{ row.showOnMarket ? 'check-square' : 'window-close' }}"></i></span></a>
                    </td>

                    <td><a href="javascript:;" class="toggle_field" id="price_ru_{{ row.id }}" rel="{{ row.id }}" field="showOnPriceRu">
                    <span class="badge badge-pill badge-{{ row.showOnPriceRu ? 'success' : 'danger' }}"><i
                                class="fa fa-{{ row.showOnPriceRu ? 'check-square' : 'window-close' }}"></i></span></a>
                    </td>
                    <td><select class="change_status" rel="{{ row.id }}">
                            {% for status, name in statuses %}
                                <option value="{{ status }}" {{ status == row.status ? 'selected' : '' }}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <p>
        <button type="submit" class="btn btn-primary"><span class="fa fa-save" aria-hidden="true"></span>
            Update prices</button>
        <a class="btn btn-success" href="{{ path('backend_' ~ model ~ '_new') }}">
            <span class="fa fa-plus" aria-hidden="true"></span> Create a new {{ model }}</a>
    </p>
    </form>
{% endblock %}


{% block filter_form %}
    {% include 'admin/common/filter_form.html.twig' with {'filter_form': filter_form} %}
{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function() {

            $('.toggle_field').on('click', function() {
                var product_id = $(this).attr('rel');
                var field = $(this).attr('field');
                var url = '{{ path('ajax_product_toggle_field') }}';
                var data = {
                    'id': product_id,
                    'field': field
                };
                status_id = $(this).attr('id');
                $.ajax({
                    url: url,
                    data: data
                }).done(function(html) {
                    console.log(html);
                    // console.log($(status_id);
                    $('#'+status_id).html(html);
                });
            })

            $('.change_status').on('change', function() {
                var product_id = $(this).attr('rel');
                var product_status = $(this).val();
                var url = '{{ path('ajax_product_status') }}';
                var data = {
                    'id': product_id,
                    'status': product_status
                };
                $.ajax({
                    url: url,
                    data: data
                }).done(function(data) {
                    $(this).parent().addClass("success");
                });
            })

        })
    </script>
{% endblock %}
