<h2>New feedback</h2>

<table>
    <tr>
        <td>Name</td>
        <td>{{ feedback.name }}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{ feedback.phone }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ feedback.email }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>{{ feedback.message }}</td>
    </tr>
</table>