{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    {{ category.name }} / Mikotek.RU
{% endblock %}

{% block meta_description %}{{ category.metaDescription }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> {{ category.name }}
        </li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'themes/digi/common/flashes.html.twig' %}

    {#{% if current_filters|length %}#}
        {#<div class="alert alert-secondary" role="alert">#}
            {#<i class="fa fa-filter"></i> Filters:#}
            {#{% for field, filter in current_filters %}#}
                {#<span class="badge badge-secondary">{{ field }}: {{ filter }}</span>#}
            {#{% endfor %}#}
            {#|#}
            {#<a href="{{ path('backend_reset_filter', {'model': model}) }}"><i class="fa fa-times"></i> reset all</a>#}
        {#</div>#}
    {#{% endif %}#}

    <div class="card mb-2 box-shadow">
        <div class="card-body">
        Sort by:
            {{ knp_pagination_sortable(pagination, 'Name', 'product.name') }}
            ||
            {{ knp_pagination_sortable(pagination, 'Price', 'product.price') }}
        </div>
    </div>
    <div class="row text-center">
        {% for index, row in pagination %}
            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><a
                            class="alert-link"
                            href="{{ path('product_show', {'slug': category.slug, 'id': row.id}) }}">{{ row.name }}</a></h4>
                    </div>
                    <div class="card-body">
                        {% if row.pic %}
                            <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/pics/' ~ row.pic) }}"><img
                                        src="{{ asset('/uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_160') }}" /></a>
                        {% else %}
                            ---
                        {% endif %}

                        <h1 class="card-title pricing-card-title product_price">{{ row.price }} ₽</h1>

                        <div class="m-sm-auto">Оптом: {{ row.priceOpt }}₽</div>

                        <div class="text-center">
                            <span class="badge badge-{{ row.statusAsCssClass }}">{{ row.statusRus }}</span>
                        </div>

                        <div class="text-left">
                            {{ row.announce | nl2br | raw }}
                        </div>

                        {% if row.isAvailableToOrder %}
                            <a href="{{ path('add_to_cart', {'id': row.id}) }}"
                               class="btn btn-lg btn-block btn-primary text-white"><i
                                        class="fa fa-cart-plus"></i> В корзину</a>
                        {% else %}
                            <a href="javascript:;"
                               class="btn btn-lg btn-block btn-secondary text-white"><i
                                        class="fa fa-info-circle"></i> {{ row.statusRus }}</a>
                        {% endif %}

                        <a href="{{ path('product_show', {'slug': category.slug, 'id': row.id}) }}"
                           class="btn btn-lg btn-block btn-success text-white"><i
                                    class="fa fa-search"></i> Просмотр</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        <div class="count">
            Total rows: {{ pagination.getTotalItemCount }}
        </div>
    </div>

{% endblock %}


{% block filter_form %}
    {% include 'admin/common/filter_form.html.twig' with {'filter_form': filter_form} %}
{% endblock %}
