{% include 'themes/digi/common/flashes.html.twig' %}

<div class="row text-center">
    {% for index, row in rows %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ row.name }}</h4>
                </div>
                <div class="card-body">
                    {% if row.pic %}
                        <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/pics/' ~ row.pic) }}"><img
                                    src="{{ asset('/uploads/pics/' ~ row.pic) | imagine_filter('thumb_square_160') }}" /></a>
                    {% else %}
                        ---
                    {% endif %}

                    <h1 class="card-title pricing-card-title product_price">{{ row.price }} ₽</h1>
                    <div class="m-sm-auto">Оптом: {{ row.priceOpt }}₽</div>

                    {{ row.description }}

                    <a href="{{ path('add_to_cart', {'id': row.id}) }}"
                       class="btn btn-lg btn-block btn-primary text-white"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>

                    {#<button type="button" class="btn btn-lg btn-block btn-primary"><i class="fa fa-cart-plus"></i> Buy</button>#}
                    <a href="{{ path('product_show', {'slug': row.category.slug, 'id': row.id}) }}"
                       class="btn btn-lg btn-block btn-success text-white"><i
                                class="fa fa-search"></i> View</a>

                    {#<ul class="list-unstyled mt-3 mb-4">#}
                        {#<li>10 users included</li>#}
                        {#<li>2 GB of storage</li>#}
                        {#<li>Email support</li>#}
                        {#<li>Help center access</li>#}
                    {#</ul>#}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

{#<div class="btn-group alg-right-pad">#}
    {#<button type="button" class="btn btn-default"><strong>1235  </strong>items</button>#}
    {#<div class="btn-group">#}
        {#<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">#}
            {#Sort Products &nbsp;#}
            {#<span class="caret"></span>#}
        {#</button>#}
        {#<ul class="dropdown-menu">#}
            {#<li><a href="#">By Price Low</a></li>#}
            {#<li class="divider"></li>#}
            {#<li><a href="#">By Price High</a></li>#}
            {#<li class="divider"></li>#}
            {#<li><a href="#">By Popularity</a></li>#}
            {#<li class="divider"></li>#}
            {#<li><a href="#">By Reviews</a></li>#}
        {#</ul>#}
    {#</div>#}
{#</div>#}
