<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ path('cart_show') }}"
           id="dropdown_cart" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"><i class="fa fa-fw fa-shopping-basket"></i> Корзина ({{ cart_total_qty }})</a>
        {#<span class="badge badge-success">1</span>#}
        <div class="dropdown-menu" aria-labelledby="dropdown_cart">
            {% if cart_total_qty == 0 %}
            <div class="row p-4">
                <div class="col-12">
                    Корзина пуста
                </div>
            </div>
            {% endif %}

            {% for item in cart %}
            <div class="row p-2">
                <div class="col-2">
                    <img alt="" src="{{ asset('/uploads/pics/' ~ item.product.pic) | imagine_filter('thumb_square_50') }}"/>
                </div>
                <div class="col-4">
                    {{ item.product.name }}
                </div>
                <div class="col-4">{{ item.product.price }}₽ * {{ item.qty }}шт.</div>
                <div class="col-1">
                    <a class="alert-danger close-btn delete-button" href="{{ path('cart_remove_item', {id: item.product.id}) }}">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% if cart_total_qty != 0 %}
                <div class="row p-2">
                    <div class="col-12">
                        <a class="btn btn-success" href="{{ path('checkout') }}">Оформить заказ</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </li>
</ul>