{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    Оформить заказ / Mikotek.RU
{% endblock %}
{% block meta_description %}Оформление заказа{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Главная</a></li>
        <li class="breadcrumb-item active">
            Оформить заказ
        </li>
    </ol>

    <h1>Ваш заказ</h1>

    {% include 'themes/digi/common/flashes.html.twig' %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="2">Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr id="cart_row_{{ item.product.id }}">
                <td width="100">
                    <a href="{{ path('product_show', {'slug': item.product.category.slug, 'id': item.product.id}) }}">
                        <img src="{{ asset('/uploads/pics/' ~ item.product.pic) | imagine_filter('thumb_square_100') }}"/></a>
                </td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}₽</td>
                <td><a href="{{ path('cart_item_update', {'mode': 'decrease', 'product_id': item.product.id}) }}">
                        <i class="fa fa-minus-square"></i></a> {{ item.qty }} <a
                            href="{{ path('cart_item_update', {'mode': 'increase', 'product_id': item.product.id}) }}">
                        <i class="fa fa-plus-square"></i></a>
                </td>
                <td>{{ item.amount }}₽</td>
            </tr>
            <tr>
                <td colspan="4"><b>Стоимость доставки:</b></td>
                <td><b><span id="delivery_cost">0</span></b>₽</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="4"><b>Итого:</b></th>
            <th><span id="order_total" data-content="{{ total }}">{{ total }}</span>₽</th>
        </tr>
        </tbody>
    </table>

    <h4>Контактная информация</h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="company"
               aria-selected="true">Юридическое лицо</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="private"
               aria-selected="false">Физическое лицо</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        {# ЮРИК #}
        <p></p>
        <div class="tab-pane fade show active" id="home" role="tabpanel"
             aria-labelledby="home-tab">
            <form class="form-horizontal" method="post" action="{{ path('place_order') }}">
                <input type="hidden" name="buyer_type" value="company"/>
                <div class="form-group">
                    <div class="row">
                        {#<label for="name" class="col-sm-2 control-label">ФИО</label>#}
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Название компании" required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        {#<label for="email" class="col-sm-2 control-label">Email</label>#}
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        {#<label for="phone" class="col-sm-2 control-label">Телефон</label>#}
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Телефон"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            Доставка:
                            <div class="form-check">
                                <input id="delivery_type_0" name="delivery_type" type="radio" required="required"
                                       class="form-check-input delivery_type" value="courier">
                                <label class="form-check-label required" for="delivery_type_0">Курьером (по Москве бесплатно)</label>
                            </div>
                            <div class="form-check">
                                <input id="delivery_type_1" name="delivery_type" type="radio" required="required"
                                       class="form-check-input delivery_type" value="transport">
                                <label class="form-check-label required" for="delivery_type_1">Транспортной компанией
                                    (за счёт клиента)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        {#<label for="address" class="col-sm-2 control-label">Адрес доставки</label>#}
                        <div class="col-sm-10">
                            <textarea rows="4" class="form-control" id="address" name="address"
                                      placeholder="Адрес доставки"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {#<label for="address" class="col-sm-2 control-label">Реквизиты для выставления счёта</label>#}
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea rows="6" class="form-control" id="note" name="note"
                                      placeholder="Реквизиты для выставления счёта"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button name="order" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Разместить
                            заказ
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {# ФИЗИК #}
        <div class="tab-pane fade" id="profile" role="tabpanel"
             aria-labelledby="profile-tab">

            <form class="form-horizontal" id="user_order_form" method="post" action="{{ path('place_order') }}">
                <input type="hidden" name="buyer_type" value="personal"/>
                <div class="form-group">
                    <div class="row">
                        {#<label for="name" class="col-sm-2 control-label">ФИО</label>#}
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user_name" name="name" placeholder="ФИО"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        {#<label for="email" class="col-sm-2 control-label">Email</label>#}
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="user_email" name="email" placeholder="Email"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        {#<label for="phone" class="col-sm-2 control-label">Телефон</label>#}
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user_phone" name="phone" placeholder="Телефон"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        {#<label for="phone" class="col-sm-2 control-label">Телефон</label>#}
                        <div class="col-sm-10">
                            <textarea rows="6" class="form-control" id="user_address" name="address"
                                      placeholder="Адрес доставки"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4>Выберите пункт выдачи заказа</h4>
                            <div id="forpvz" style="height:500px;"></div>
                            {#<div id="linkForWidjet" style="display: none;">#}
                            {#<div class="row">#}
                            {#<div class="col-6">Выбран пункт выдачи заказов:</div>#}
                            {#<div class="col-6"><input class="form-control" type='text' name='chosenPost' value=''/></div>#}
                            {#</div>#}
                            {#<div class="row">#}
                            {#<div class="col-6">Адрес пункта:</div>#}
                            {#<div class="col-6"><input class="form-control" type='text' name='addresPost' value=''/></div>#}
                            {#</div>#}
                            {#<div class="row">#}
                            {#<div class="col-6">Стоимость доставки:</div>#}
                            {#<div class="col-6"><input class="form-control" type='text' name='pricePost' value=''/></div>#}
                            {#</div>#}
                            {#<div class="row">#}
                            {#<div class="col-6">Примерные сроки доставки:</div>#}
                            {#<div class="col-6"><input class="form-control" type='text' name='timePost' value=''/></div>#}
                            {#</div>#}
                            {#</div>#}

                            {#</div>#}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                            <textarea rows="6" class="form-control" id="user_note" name="note"
                                      placeholder="Примечание"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="user_form_submit" name="order" type="submit" class="btn btn-success"><i
                                        class="fa fa-plus"></i> Оформить заказ
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    {% block extrascripts %}
        <script type="text/javascript">
            $.ajax('{{ path('checkout_mail') }}');

            $('.delivery_type').on('change', function () {
                var order_total = parseFloat($('#order_total').attr('data-content'));
                $('#order_total').html(order_total);
                $('#delivery_cost').html(0);

            })
            // $('#user_form_submit').on('click', function () {
            //     $('#user_order_form').submit();
            // })
            $('')
        </script>

        <script type="text/javascript" id="ISDEKscript"
                src="https://www.cdek.ru/website/edostavka/template/js/widjet.js"></script>

        <script type="text/javascript">
            var widjet = new ISDEKWidjet({
                country: 'Россия',
                defaultCity: 'Москва',
                cityFrom: 'Москва',
                link: 'forpvz',
                path: 'https://www.cdek.ru/website/edostavka/template/scripts/',
                servicepath: '{{ server_name }}/widget/scripts/service.php',
                hidedress: true,
                // goods: [ // установим данные о товарах из корзины
                //     { length : 10, width : 20, height : 20, weight : 5 }
                // ],
                onReady: function () { // на загрузку виджета отобразим информацию о доставке до ПВЗ
                    ipjq('#linkForWidjet').css('display', 'inline');
                },
                onChoose: function (info) { // при выборе ПВЗ: запишем номер ПВЗ в текстовое поле и доп. информацию
                    // ipjq('[name="chosenPost"]').val(info.id);
                    // ipjq('[name="addresPost"]').val(info.PVZ.Address);
                    // расчет стоимости доставки
                    var price = parseFloat(info.price);
                    // var price = (info.price < 300) ? 300 : Math.ceil( info.price/100 ) * 100;
                    // ipjq('[name="pricePost"]').val(price);
                    // ipjq('[name="timePost"]').val(info.term);
                    var note = "Выбрана доставка курьером в город: " + info.cityName + "\n"
                        + "Выбран пункт выдачи заказов: " + info.id + "\n"
                        + "Адрес пункта: " + info.PVZ.Address + "\n"
                        + "Стоимость доставки: " + price + "\n"
                        + "Примерные сроки доставки(дней): " + info.term + "\n";
                    ipjq('#user_address').val(note);

                    // alert('ordet total: ' + order_total);
                    var order_total = parseFloat(ipjq('#order_total').attr('data-content'));
                    order_total += price;
                    ipjq('#order_total').html(order_total);
                    ipjq('#delivery_cost').html(price);

                    console.log('onChoose ' + note);
                    ipjq('#user_address').focus();
                },

                onChooseProfile: onChooseProfile
            });

            function onChooseProfile(info) {
                var note = "Выбрана доставка курьером в город: " + info.cityName + "\n"
                    + "Стоимость доставки: " + info.price + "\n"
                    + "Примерные сроки доставки(дней): " + info.term + "\n"
                    + "Укажите адрес доставки: "
                ;
                ipjq('#user_address').val(note);

                ipjq('#user_address').focus();

                var price = parseFloat(info.price);
                var order_total = parseFloat(ipjq('#order_total').attr('data-content'));
                order_total += price;
                ipjq('#order_total').html(order_total);
                ipjq('#delivery_cost').html(price);


                // alert('Выбрана доставка курьером в город ' + wat.cityName + "\n" +
                //     'цена ' + wat.price + "\n" +
                //     'срок ' + wat.term + ' дн.'
                // );
                // console.log('Выбрана доставка курьером ', wat);
            }

            widjet.binders.add(choosePVZ, 'onChoose');

            function choosePVZ(wat) {
                // alert('Доставка в город ' + wat.cityName +
                //     "\nдо ПВЗ с кодом: " + wat.id + ', цена '+wat.price +' руб.'
                // );
                console.log('Выбран ПВЗ ', wat);
            }
        </script>


        {#<script>#}
        {#$('.delete').on('click', function () {#}
        {#var rel = $(this).attr('rel');#}
        {#var id = $(this).attr('data-target');#}
        {#$.ajax({#}
        {#url: "{{ path('cart_delete_item') }}?id=" + id#}
        {#}).done(function (data) {#}
        {#$('#'+rel).slideUp();#}
        {#$('#cart_items_cnt').html(data.cart_items_cnt);#}
        {#}).fail(function () {#}
        {#alert('Error!');#}
        {#});#}

        {#var qty = $('#' + rel).attr('value');#}
        {#qty++;#}
        {#$('#' + rel).attr('value', qty);#}
        {#})#}
        {#$('.increase').on('click', function () {#}
        {#var rel = $(this).attr('rel');#}
        {#var qty = $('#' + rel).attr('value');#}
        {#qty++;#}
        {#$('#' + rel).attr('value', qty);#}
        {#})#}
        {#$('.decrease').on('click', function () {#}
        {#var rel = $(this).attr('rel');#}
        {#var qty = $('#' + rel).attr('value');#}
        {#qty--;#}
        {#if (qty < 0) {#}
        {#qty = 0;#}
        {#}#}
        {#$('#' + rel).attr('value', qty);#}
        {#})#}
        {#</script>#}

    {% endblock %}

{% endblock %}

{#{% block begun %}#}
    {#<!-- Conversion tracking code: purchases. Step 2: Order started -->#}
    {#<script type="text/javascript">#}
        {#(function(w, p) {#}
            {#var a, s;#}
            {#(w[p] = w[p] || []).push({#}
                {#counter_id: 520312123,#}
                {#tag: 'b54b511b78e27830c3ab9a4ccf2f1ab5'#}
            {#});#}
            {#a = document.createElement('script'); a.type = 'text/javascript'; a.async = true;#}
            {#a.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'autocontext.begun.ru/analytics.js';#}
            {#s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s);#}
        {#})(window, 'begun_analytics_params');#}
    {#</script>#}
{#{% endblock %}#}
