{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    Оформить заказ / Mikotek.RU
{% endblock %}
{% block meta_description %}Оформление заказа{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Главная</a></li>
        <li class="breadcrumb-item active">
            Оформить заказ
        </li>
    </ol>

    <h1>Ваш заказ</h1>

    {% include 'themes/digi/common/flashes.html.twig' %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="2">Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr id="cart_row_{{ item.product.id }}">
                <td width="100">
                    <a href="{{ path('product_show', {'slug': item.product.category.slug, 'id': item.product.id}) }}">
                        <img src="{{ asset('/uploads/pics/' ~ item.product.pic) | imagine_filter('thumb_square_100') }}"/></a>
                </td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}₽</td>
                <td><a href="{{ path('cart_item_update', {'mode': 'decrease', 'product_id': item.product.id}) }}">
                        <i class="fa fa-minus-square"></i></a> {{ item.qty }} <a
                            href="{{ path('cart_item_update', {'mode': 'increase', 'product_id': item.product.id}) }}">
                        <i class="fa fa-plus-square"></i></a>
                </td>
                <td>{{ item.amount }}₽</td>
            </tr>
            <tr>
                <td colspan="4"><b>Стоимость доставки:</b></td>
                <td><b><span id="delivery_cost">0</span></b>₽</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="4"><b>Итого:</b></th>
            <th><span id="order_total" data-content="{{ total }}">{{ total }}</span>₽</th>
        </tr>
        </tbody>
    </table>

    <h4>Контактная информация</h4>

    <div class="tab-content" id="myTabContent">
        {# ЮРИК #}
        <p></p>
        <div class="tab-pane fade show active" id="home" role="tabpanel"
             aria-labelledby="home-tab">
            <form class="form-horizontal" method="post" action="{{ path('place_order') }}">
                <input type="hidden" name="buyer_type" value="company"/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Название компании/ФИО" required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Телефон"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                   required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            Доставка:
                            <div class="form-check">
                                <input id="delivery_type_0" name="delivery_type" type="radio" required="required"
                                       class="form-check-input delivery_type" value="courier">
                                <label class="form-check-label required" for="delivery_type_0">Курьером (по Москве бесплатно)</label>
                            </div>
                            <div class="form-check">
                                <input id="delivery_type_1" name="delivery_type" type="radio" required="required"
                                       class="form-check-input delivery_type" value="transport">
                                <label class="form-check-label required" for="delivery_type_1">Транспортной компанией
                                    (за счёт клиента)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea rows="4" class="form-control" id="address" name="address"
                                      placeholder="Адрес доставки"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {#<label for="address" class="col-sm-2 control-label">Реквизиты для выставления счёта</label>#}
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea rows="6" class="form-control" id="note" name="note"
                                      placeholder="Реквизиты для выставления счёта/Примечание"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button name="order" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Разместить
                            заказ
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {# ФИЗИК #}

    </div>

    {% block extrascripts %}
        <script type="text/javascript">
            $.ajax('{{ path('checkout_mail') }}');

            $('.delivery_type').on('change', function () {
                var order_total = parseFloat($('#order_total').attr('data-content'));
                $('#order_total').html(order_total);
                $('#delivery_cost').html(0);

            })
        </script>

    {% endblock %}

{% endblock %}
