
    <h1>Новый заказ №{{ order.id }}</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr id="cart_row_{{ item.product.id }}">
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}₽</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.amount }}₽</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="4"><b>Итого:</b></th>
                <th>{{ total }}₽</th>
            </tr>
        </tbody>
    </table>

    <h4>Контактная информация</h4>
    <div>ФИО: {{ order.name }}</div>
    <div>Email: {{ order.email }}</div>
    <div>Phone: {{ order.phone }}</div>
    <div>Address: {{ order.address }}</div>
