{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    Спасибо за заказ / Mikotek.RU
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Главная</a></li>
        <li class="breadcrumb-item active">Заказ</li>
    </ol>
    <h2>
        Заказ №{{ order.id }} успешно размещён!
    </h2>
    <p>Наш представитель в ближайшее время с Вами свяжется.</p>
    <p><a href="{{ path('homepage') }}"><i class="fa fa-shopping-cart"></i> Продолжить покупки</a></p>
{% endblock %}

{% block begun %}
<!-- Conversion tracking code: purchases. Step 3: Order complete -->
<script type="text/javascript">
    (function(w, p) {
        var a, s;
        (w[p] = w[p] || []).push({
            counter_id: 520312123,
            tag: '3d136b8591278d495685a22600fae4d2'
        });
        a = document.createElement('script'); a.type = 'text/javascript'; a.async = true;
        a.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'autocontext.begun.ru/analytics.js';
        s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s);
    })(window, 'begun_analytics_params');
</script>
{% endblock %}
