<?xml version="1.0" encoding="UTF-8"?>
<yml_catalog date="{{ today }}">
    <shop>
        <name>Mikotek.Ru</name>
        <company>ООО "МИКОТЕК"</company>
        <url>http://mikotek.ru</url>

        <catalog>
            {% for id, name in categories %}
            <category id="{{ id }}">{{ name }}</category>
            {%  endfor %}
        </catalog>

        <items>
            {% for id, product in products %}
            <item id="{{ id }}">
                <name>{{ product.full_name }}</name>
                <image>{{ product.picture }}</image>
                <url>{{ product.url }}</url>
                <pricerub>{{ product.price }}</pricerub>
                <bnpricerub>{{ product.price }}</bnpricerub>
                <vendor>{{ product.vendor }}</vendor>
                <categoryId>{{ product.category_id }}</categoryId>
                <description>
                    <![CDATA[
                    {{ product.announce | nl2br | raw }}
                    ]]>
                </description>
                <guarantee type="shop">{{ product.warranty | number_format }}</guarantee>
            </item>
            {% endfor %}
        </items>
    </shop>
</yml_catalog>