<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {% for slug, url in pages %}
        <url>
            <loc>{{ url }}</loc>
            <lastmod>{{ today }}</lastmod>
            <changefreq>weekly</changefreq>
            <priority>0.8</priority>
        </url>
    {%  endfor %}
    {% for id, product in products %}
        <url>
            <loc>{{ product.url }}</loc>
            <lastmod>{{ today }}</lastmod>
            <changefreq>weekly</changefreq>
            <priority>0.5</priority>
        </url>
    {%  endfor %}

</urlset>
