<?xml version="1.0" encoding="UTF-8"?>
<yml_catalog date="{{ today }}">
    <shop>

        <categories>
            {% for id, name in categories %}
                <category id="{{ id }}">{{ name }}</category>
            {%  endfor %}
        </categories>

        <offers>
            {% for id, product in products %}
                <offer id="{{ product.sku }}">
                    <name>{{ product.name }}</name>
                    <categoryId>{{ product.category_id }}</categoryId>
                    <picture>{{ product.picture }}</picture>
                    <vendor>{{ product.vendor }}</vendor>
                    <url>{{ product.url }}</url>
                    <price>{{ product.price }}</price>
                    <vat>VAT_20</vat>
                    <currencyId>RUR</currencyId>
                    <warranty-days>P1Y2M10D</warranty-days>
                    <availability>ACTIVE</availability>
{#                    <count>{{ product.stockQty }}</count>#}
                    <country_of_origin>{{ product.country_of_origin }}</country_of_origin>
{#                    <model>{{ product.vendor_model }}</model>#}
                    <weight>0.2</weight>
                    <dimensions>15/10/10</dimensions>
                    <warranty-days>P2Y</warranty-days>

                    <description>{{ product.announce }}</description>
                    <delivery-weekdays>
                        <delivery-weekday>MONDAY</delivery-weekday>
                        <delivery-weekday>FRIDAY</delivery-weekday>
                    </delivery-weekdays>
                </offer>
            {% endfor %}
        </offers>
    </shop>
</yml_catalog>