{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    Подписка на новости и акции
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> Подписка
        </li>
    </ol>
{% endblock %}

{% block body %}

    <h4>Подписка на новости и акции</h4>
    <p>
        Введите свой Email и мы будем присылать Вам наши новости и спрецпредложения!
    </p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {#<div class="g-recaptcha" data-sitekey="6LekOV0UAAAAAIByCFQg1af8z5SIwGMn9-KYsvu9"></div>#}
    <hr />
    <button name="send" type="submit" class="btn btn-success">Отправить</button>
    {{ form_end(form) }}

{% endblock %}
