{% extends 'themes/digi/layout.html.twig' %}

{% block title %}
    Подписка успешна
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-dashboard"></i> <a href="{{ path('homepage') }}"> Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-table"></i> Подписка успешна
        </li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'themes/digi/common/flashes.html.twig' %}

    <h4>Подписка успешна</h4>

    <p>
        Спасибо за интерес к нашему сайту!
    </p>

{% endblock %}
