{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% extends 'layout_admin.html.twig' %}

{% block title %}
    Create page :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Create new'} %}
{% endblock %}

{% block body %}
    <h1>Page creation</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'placeholder': 'Name'}}) }}
        {{ form_row(form.slug, {'attr': {'placeholder': 'Slug'}}) }}
        {{ form_row(form.announce, {'attr': {'placeholder': 'Announce'}}) }}
        {{ form_row(form.content, {'attr': {'placeholder': 'Content'}}) }}
        <a class="btn btn-primary" href="{{ path('backend_page_index') }}"><i class="fa fa-list"></i> Back to the list</a>
        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Create</button>
    {{ form_end(form) }}

    <p>
    </p>
{% endblock %}
